version: '3'
services: 
  web: 
    image: joongle/joongledotdev
    volumes:
      - /etc/letsencrypt/live/joongle.dev/cert.pem:/certs/cert.pem:ro
      - /etc/letsencrypt/live/joongle.dev/privkey.pem:/certs/key.pem:ro
      - webroot:/assets:ro
    build:
      context: .
      dockerfile: Dockerfile
    ports: 
      - "80:8000"
      - "443:8001"
    restart: always
volumes:
  webroot:
    driver_opts:
      type: none
      device: /var/www/html
      o: bind