body {
    background: #222222;
}

.ui {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    width: 100vw;
    height: 75vw; /* height:width ratio = 3/4 = .75  */
    max-height: 100vh;
    max-width: 133.33vh; /* 100 * 4/3 = 133.33 */
    margin: auto;
    object-fit: contain;

    font-family: Helvetica, sans-serif;
    font-size: 3.5vmin;

    display: flex;
    flex-direction: column;

    pointer-events: none;
}

.row {
    flex-direction: row;
    margin: 1vmin;
}

.centered {
    text-align: center;
}

.heading {
    font-size: 7vmin;
}

.anchor {
    background-color: #FFFFFF11;
    color: black;

    pointer-events: auto;
}

.anchor:hover {
    background-color: #FFFFFF22;
}

.input {
    background-color: #FFFFFF11;
    border: none;
    outline: none;
    padding: 8px 16px;
    margin: 0;
    box-sizing: border-box;

    text-align: center;
    font-size: inherit;

    pointer-events:auto;
}

.button {
    background-color: #FFFFFF22;
    border: none;
    outline: none;
    padding: 8px 16px;
    margin: 0;
    box-sizing: border-box;

    text-align: center;
    font-size: inherit;

    cursor: pointer;
    pointer-events:auto;
}

.button:hover {
    background-color: #FFFFFF33;
}

#canvas {
    pointer-events: auto;
}

.user-display-container {
    background-color: #FFFFFF11;
    width: 50vw;
    max-width: 66.66vh; /* 50 * (4/3) = 66.66 */
    flex-direction: row;
    overflow-y: scroll;
}