.nav-links {
    display: none;
}

.menu-toggle {
    display: block;
    cursor: pointer;
}

.nav-links-visible {
    display: block;
}

@media (min-width: 3000px) {
    .nav-links {
        display: flex;
    }
    .menu-toggle {
        display: none;
    }
}